.cube {
  height: 60px;
  width: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  margin: auto;
}

.cube_item {
  height: 20px;
  width: 20px;
  border-radius: 6px;
  transition: all 0.2s ease-in;
}

.cube_x {
  background-color: blueviolet;
  animation: animateLoaders 1s infinite;
}

.cube_y {
  background-color: aqua;
  animation: animateLoaders 1s 0.5s infinite;
}

@keyframes animateLoaders {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}
